<div class="row">
  <!-- ==== LEFT SIDE OF THE PAGE ==== -->
  <div class="col s6" id="left-side"> <!-- DO NOT TOUCH -->

  <!-- ======================== -->

  <h2>Reservations <%= link_to '[+]', new_restaurant_reservation_path(current_user.restaurant_id) %> <%= link_to '[All]', restaurant_reservations_path(current_user.restaurant_id) %></h2>
    <table class="striped">
      <thead>
        <th></th>
        <th>#</th>
        <th>Customer</th>
        <th>Cover</th>
        <th>Estimated Start Time</th>
        <th>Payable</th>
        <th>Table</th>
        <th></th>
      </thead>
      <tbody id="reservation_<%= @restaurant_id %>">
        <% @reservations.where(status:'reservation').each do |reservation| %>
        <tr>
          <td href="/restaurants/<%= @restaurant_id %>/reservations/<%= @reservation_id %>/edit">
            <i class="material-icons left">
              edit
            </i>
            <br>
            <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, reservation) %>
          </td>

          <td>
            # <%= reservation.id %>
          </td>

          <td>
            <%= reservation.name %>
            <br>
            <% if reservation.phone != nil %>
            <%= formatPhone(reservation.phone) %>
            <% end %>
          </td>

          <td>
            <i class="material-icons left">
              people
            </i>
            <%= reservation.party_size  %>
             pax
          </td>

          <td>
            <i class="material-icons left">
              access_time
            </i>
            <% if reservation.start_time != nil %>
              <%= formatOrderDate(reservation.start_time) %>
            <% end %>
          </td>

          <td>
            <% if Invoice.where(reservation_id: reservation.id).where(time_end: nil).count > 0 %>
            <% x = Invoice.where(reservation_id: reservation.id).where(time_end: nil)[0] %>
            $<%= formatPrice(showTotalPrice(x.menu_items)) %>
            <% else %>
            No Order
            <% end %>
          </td>

          <td>
            <% if reservation.table_id != nil %>
              <% if Reservation.where(table_id: reservation.table_id).where(status: 'dining').count > 0 %>
                <font color="red"><b>Table: <%= reservation.table.name %></b></font>
              <% else %>
                Table:
                <%= reservation.table.name %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if reservation.table_id != nil %>
              <%= link_to 'Seated', restaurant_seated_path(@restaurant, reservation), method: :put %>
            <% end %>
          </td>

        </tr>
        <% end %>
    </tbody>
  </table>

<!-- ================================= -->
  <h2>Queue <%= link_to '[+]', new_restaurant_walkin_path(current_user.restaurant_id) %></h2>
  <table class="striped">
    <thead>
      <th></th>
      <th>#</th>
      <th>Customer</th>
      <th>Cover</th>
      <th>Estimated Start Time</th>
      <th>Payable</th>
      <th>Table</th>
      <th></th>
    </thead>
        <tbody id="queue_<%= @restaurant_id %>">
          <% @reservations.where(status:'queuing').each do |queuing| %>
          <tr>
            <td>
              <i class="material-icons left">
                edit
              </i>
              <br>
              <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, queuing) %>
            </td>

            <td>
              #<%= queuing.queue_number %>
            </td>

            <td>
              <%= queuing.name %>
              <br>
              <% if queuing.phone != nil %>
                <%= formatPhone(queuing.phone) %>
              <% end %>
            </td>

            <td>
              <i class="material-icons left">
                people
              </i>
              <%= queuing.party_size  %>
               pax
            </td>

            <td>
              <i class="material-icons left">
                access_time
              </i>
              <% if queuing.start_time != nil %>
                <%= formatOrderDate(queuing.start_time) %>
              <% end %>
            </td>

            <td>
              <% if Invoice.where(reservation_id: queuing.id).where(time_end: nil).count > 0 %>
              <% x = Invoice.where(reservation_id: queuing.id).where(time_end: nil)[0] %>
              $<%= formatPrice(showTotalPrice(x.menu_items)) %>
              <% else %>
              No Order
              <% end %>
            </td>

            <td>
              <% if queuing.table_id != nil %>
                <% if Reservation.where(table_id: queuing.table_id).where(status: 'dining').count > 0 %>
                  <font color="red"><b>Table: <%= queuing.table.name %></b></font>
                <% else %>
                  Table:
                  <%= queuing.table.name %>
                <% end %>
              <% end %>
            </td>

            <td>
              <% if queuing.table_id != nil %>
              <%= link_to 'Notify', restaurant_notify_path(@restaurant, queuing), method: :put%>
              <% else %>
              <%= link_to 'Cancel', restaurant_cancelled_path(@restaurant, queuing), method: :put, data: { confirm: 'This will remove the customer from the queue. This action is permanent. OK to procced?'} %>
              <% end %>
            </td>

          </tr>
          <% end %>

        </tbody>
      </table>

<!-- ================================= -->

<h2>Notified</h2>
<table class="striped">
  <thead>
    <th></th>
    <th>#</th>
    <th>Customer</th>
    <th>Cover</th>
    <th>Estimated Start Time</th>
    <th>Payable</th>
    <th>Table</th>
    <th></th>
  </thead>
      <tbody>
        <% @reservations.where(status:'awaiting').each do |awaiting| %>
        <tr>
          <td>
            <i class="material-icons left">
              edit
            </i>
            <br>
            <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, awaiting) %>
          </td>

          <td>
            #<%= awaiting.queue_number %>
          </td>

          <td>
            <%= awaiting.name %>
            <br>
            <% if awaiting.phone != nil %>
              <%= formatPhone(awaiting.phone) %>
            <% end %>
          </td>

          <td>
            <i class="material-icons left">
              people
            </i>
            <%= awaiting.party_size  %>
             pax
          </td>

          <td>
            <i class="material-icons left">
              access_time
            </i>
            <% if awaiting.start_time != nil %>
              <%= formatOrderDate(awaiting.start_time) %>
            <% end %>
          </td>

          <td>
            <% if Invoice.where(reservation_id: awaiting.id).where(time_end: nil).count > 0 %>
            <% x = Invoice.where(reservation_id: awaiting.id).where(time_end: nil)[0] %>
            $<%= formatPrice(showTotalPrice(x.menu_items)) %>
            <% else %>
            No Order
            <% end %>
          </td>

          <td>
            <% if awaiting.table_id != nil %>
              <% if Reservation.where(table_id: awaiting.table_id).where(status: 'dining').count > 0 %>
                <font color="red"><b>Table: <%= awaiting.table.name %></b></font>
              <% else %>
                Table:
                <%= awaiting.table.name %>
              <% end %>
            <% end %>
          </td>

          <td>
            <% if awaiting.table_id != nil %>
              <%= link_to 'Seated', restaurant_seated_path(@restaurant, awaiting), method: :put %>
            <% end %>
          </td>

        </tr>
        <% end %>

      </tbody>
    </table>

<!-- ================================= -->

<h2>Dining</h2>
<table class="striped">
  <thead>
    <th></th>
    <th>#</th>
    <th>Customer</th>
    <th>Cover</th>
    <th>Estimated Start Time</th>
    <th>Payable</th>
    <th>Table</th>
    <th></th>
  </thead>
      <tbody>
        <% @reservations.where(status:'dining').each do |dining| %>
        <tr>
          <td>
            <i class="material-icons left">
              edit
            </i>
            <br>
            <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, dining) %>
          </td>

          <td>
            <% if dining.queue_number %>
              #<%= dining.queue_number %>
            <% else %>
              #<%= dining.id %>
            <% end %>

          </td>

          <td>
            <%= dining.name %>
            <br>
            <% if dining.phone != nil %>
            <%= formatPhone(dining.phone) %>
            <% end %>
          </td>

          <td>
            <i class="material-icons left">
              people
            </i>
            <%= dining.party_size  %>
             pax
          </td>

          <td>
            <i class="material-icons left">
              access_time
            </i>
            <% if dining.start_time != nil %>
              <%= formatOrderDate(dining.start_time) %>
            <% end %>
          </td>

          <td>
            <% if Invoice.where(reservation_id: dining.id).where(time_end: nil).count > 0 %>
            <% x = Invoice.where(reservation_id: dining.id).where(time_end: nil)[0] %>
            $<%= formatPrice(showTotalPrice(x.menu_items)) %>
            <% else %>
            No Order
            <% end %>
          </td>

          <td>
            <% if dining.table_id != nil %>
              Table: <%= dining.table.name %>
            <% end %>
          </td>

          <td>
            <%= link_to 'Check Out', restaurant_checked_out_path(@restaurant, dining), method: :put, data: { confirm: 'This will check the customer out and end their session. This action is undoable. OK to procced?'} %>
          </td>

        </tr>
        <% end %>

      </tbody>
    </table>

<!-- ================================= -->

      <!-- ==== END OF TABLES, BUTTONS HERE ==== -->

  </div> <!-- DO NOT TOUCH -->


  <!-- ==== RIGHT SIDE OF THE PAGE ==== -->

    <div class="col s7" id="right-side"> <!-- DO NOT TOUCH -->

  <!-- ============TABLE START============= -->

<div class="row">
  <% @tables.each do |table| %>
  <div class="col s3" id="right-tables">
    <table class="bordered centered">
      <thead>
      <tr>
        <th>
          <% if table != nil %>
            <%= link_to 'Table ' + table.name, edit_restaurant_table_path(table.restaurant, table) %>
          <% end %>
        </th>
      </tr>
      </thead>
        <tbody>
          <% if @reservations.where(table_id: table.id).where(status: 'dining').count == 0%>
          <tr>
            <td>
              <img src="http://simpleicon.com/wp-content/uploads/table.png" height="127" width="126">
            </td>
          </tr>
          <tr>
            <td>
              <i class="material-icons left">
                access_time
              </i>
              <% if @reservations.where(table_id: table.id).where(status: ['reservation', 'awaiting', 'queuing']).count > 0 %>
                <%= formatOrderDate(@reservations.where(table_id: table.id).where(status: ['reservation', 'awaiting', 'queuing'])[0].start_time) %>
              <% else %>
                No Upcoming Reservations
              <% end %>
            </td>
          </tr>
          <% else %>
          <tr>
            <td>
              <i class="material-icons left">
                people
              </i>
              <%= @reservations.where(table_id: table.id).where(status: 'dining')[0].party_size %> pax
            </td>
          </tr>
          <tr>
            <td>
              <i class="material-icons left">
                access_time
              </i>
              <% if @reservations.where(table_id: table.id).where(status: 'dining').count > 0 %>
              <%= formatOrderDate(@reservations.where(table_id: table.id).where(status: 'dining')[0].start_time) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <i class="material-icons left">
                local_atm
              </i>
              <% if Invoice.where(table_id: table.id).where(time_end: nil).count > 0 %>
              <% x = Invoice.where(table_id: table.id).where(time_end: nil)[0] %>
              $<%= formatPrice(showTotalPrice(x.menu_items)) %>
              <% else %>
              No Order
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <% if @reservations.where(table_id: table.id).where(status: 'dining').count > 0 %>
                <% if Invoice.where(table_id: table.id).where(time_end: nil).count == 0 %>
                  <%= form_tag restaurant_menu_items_path(@restaurant), method: :get, style: "display:inline-block" do %>
                  <%= hidden_field_tag :reservation_id, @reservations.where(table_id: table.id).where(status: 'dining')[0].id %>
                  <%= hidden_field_tag :table_id, @reservations.where(table_id: table.id).where(status: 'dining')[0].table_id %>
                  <%= submit_tag 'New' %>
                  <% end %>
                <% else %>
                  <%= link_to 'View', restaurant_invoice_path(@restaurant, Invoice.where(table_id: table.id).where(time_end: nil)[0]) %> | Add | Pay
              <% end %>


               <% end  %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% end %>
    </div>

        <!-- ===== THIRD ROW ===== -->


  </div>

  </div>


  <!-- DO NOT TOUCH -->
</div>
