<div class="dash-container">
<div class="row">
  <!-- ==== LEFT SIDE OF THE PAGE ==== -->
  <div class="col s6" id="left-side"> <!-- DO NOT TOUCH -->

  <!-- <h1 style="font-size:55px">All Reservations</h1> -->
<p><%= link_to 'Reservations', restaurant_reservations_path(current_user.restaurant_id) %> |
  <%= link_to 'Add Reservations', new_restaurant_reservation_path(current_user.restaurant_id) %> |
  <%= link_to 'Queue', restaurant_walkins_path(current_user.restaurant_id) %> |
  Takeaways</p>
<p><%= link_to 'Current Diners', restaurant_diners_path(current_user.restaurant_id) %> |
  <%= link_to 'Orders', restaurant_orders_path(current_user.restaurant_id) %></p>

  <!-- ======================== -->

  <h2>Incoming Dine-in Reservations</h2>
  <table class="striped">
        <tbody>
          <% @reservations.where(status:'reservation').each do |reservation| %>
          <tr>
            <td href="/restaurants/<%= @restaurant_id %>/reservations/<%= @reservation_id %>/edit"><i class="material-icons left">edit</i>Edit</td>
            <td>
              <%= reservation.name %><br>
              <%= formatPhone(reservation.phone) %>
            </td>
            <td><i class="material-icons left">people</i><%= reservation.party_size  %> pax</td>
            <td><i class="material-icons left">access_time</i>reservation.start_time</td>
            <td>Not Ordered</td>
            <td><a class="waves-effect waves-light btn">Assign Table</a></td>
          </tr>
          <% end %>

          <tr>
            <td><i class="material-icons left">edit</i>Edit</td>
            <td>
              Goldilocks<br>
              12345678
            </td>
            <td><i class="material-icons left">people</i>4 pax</td>
            <td><i class="material-icons left">access_time</i>2:30pm</td>
            <td>Paid $80</td>
            <td><a class="waves-effect waves-light btn">Assign Table</a></td>
          </tr>

          <tr>
            <td><i class="material-icons left">edit</i>Edit</td>
            <td>
              Tubbs<br>
              12345678
            </td>
            <td><i class="material-icons left">people</i>1 pax</td>
            <td><i class="material-icons left">access_time</i>3:00pm</td>
            <td>Paid $200</td>
            <td><a class="waves-effect waves-light btn">Assign Table</a></td>
          </tr>

          <tr>
            <td><i class="material-icons left">edit</i>Edit</td>
            <td>
              Rilakkuma<br>
              12345678
            </td>
            <td><i class="material-icons left">people</i>2 pax</td>
            <td><i class="material-icons left">access_time</i>4:00pm</td>
            <td>Paid $20</td>
            <td><a class="waves-effect waves-light btn">Assign Table</a></td>
          </tr>
        </tbody>
      </table>

      <!-- ======================== -->

  <h2>Assigned Dine-in Reservations</h2>
  <table class="striped">
        <tbody>
          <tr>
            <td><i class="material-icons left">edit</i>Edit</td>
            <td>
              Dottie<br>
              12345678
            </td>
            <td><i class="material-icons left">people</i>2 pax</td>
            <td><i class="material-icons left">access_time</i>5:00pm</td>
            <td>Not Ordered</td>
            <td>11</td>
            <td><a class="waves-effect waves-light btn">Seat</a></td>
          </tr>

          <tr>
            <td><i class="material-icons left">edit</i>Edit</td>
            <td>
              Mr Meowmi<br>
              12345678
            </td>
            <td><i class="material-icons left">people</i>4 pax</td>
            <td><i class="material-icons left">access_time</i>6:30pm</td>
            <td>Paid $80</td>
            <td>3</td>
            <td><a class="waves-effect waves-light btn">Seat</a></td>
          </tr>

          <tr>
            <td><i class="material-icons left">edit</i>Edit</td>
            <td>
              Lady Meow Meow<br>
              12345678
            </td>
            <td><i class="material-icons left">people</i>20 pax</td>
            <td><i class="material-icons left">access_time</i>7:30pm</td>
            <td>Paid $800</td>
            <td>1</td>
            <td><a class="waves-effect waves-light btn">Seat</a></td>
          </tr>

        </tbody>
      </table>

      <!-- ==== END OF TABLES, BUTTONS HERE ==== -->

  </div> <!-- DO NOT TOUCH -->


  <!-- ==== RIGHT SIDE OF THE PAGE ==== -->

    <div class="col s7" id="right-side"> <!-- DO NOT TOUCH -->

  <!-- ============TABLE START============= -->
  <div class="row">

    <div class="col s3">
      <table class="bordered centered">
        <thead>
        <tr>
            <th>Table 1</th>
        </tr>
      </thead>
        <tbody>
          <tr><td><i class="material-icons left">people</i>2 pax</td></tr>
          <tr><td><i class="material-icons left">access_time</i>1:00pm</td></tr>
          <tr><td><i class="material-icons left">local_atm</i>$30.20</td></tr>
          <tr><td>
            New | Add | Pay
          </td></tr>
        </tbody>
      </table>
      </div>

      <div class="col s3">
        <table class="bordered centered">
          <thead>
          <tr>
              <th>Table 2</th>
          </tr>
        </thead>
          <tbody>
            <tr><td><i class="material-icons left">people</i>5 pax</td></tr>
            <tr><td><i class="material-icons left">access_time</i>2:30pm</td></tr>
            <tr><td><i class="material-icons left">local_atm</i>$27.60</td></tr>
            <tr><td>
              New | Add | Pay
            </td></tr>
          </tbody>
        </table>
        </div>

        <div class="col s3">
          <table class="bordered centered">
            <thead>
            <tr>
                <th>Table 3</th>
            </tr>
          </thead>
            <tbody>
              <tr><td><i class="material-icons left">people</i>4 pax</td></tr>
              <tr><td><i class="material-icons left">access_time</i>5:00pm</td></tr>
              <tr><td><i class="material-icons left">local_atm</i>$19.90</td></tr>
              <tr><td>
                New | Add | Pay
              </td></tr>
            </tbody>
          </table>
          </div>

          <div class="col s3">
            <table class="bordered centered">
              <thead>
              <tr>
                  <th>Table 4</th>
              </tr>
            </thead>
              <tbody>
                <tr><td>
                  <img src="http://simpleicon.com/wp-content/uploads/table.png" height="177" width="126">
                </td></tr>
              </tbody>
            </table>
          </div>

            <!-- ===== SECOND ROW ===== -->

            <div class="col s3">
              <table class="bordered centered">
                <thead>
                <tr>
                    <th>Table 5</th>
                </tr>
              </thead>
                <tbody>
                  <tr><td><i class="material-icons left">people</i>2 pax</td></tr>
                  <tr><td><i class="material-icons left">access_time</i>1:00pm</td></tr>
                  <tr><td><i class="material-icons left">local_atm</i>$30.20</td></tr>
                  <tr><td>
                    New | Add | Pay
                  </td></tr>
                </tbody>
              </table>
              </div>

              <div class="col s3">
                <table class="bordered centered">
                  <thead>
                  <tr>
                      <th>Table 6</th>
                  </tr>
                </thead>
                  <tbody>
                    <tr><td><i class="material-icons left">people</i>5 pax</td></tr>
                    <tr><td><i class="material-icons left">access_time</i>2:30pm</td></tr>
                    <tr><td><i class="material-icons left">local_atm</i>$27.60</td></tr>
                    <tr><td>
                      New | Add | Pay
                    </td></tr>
                  </tbody>
                </table>
                </div>

                <div class="col s3">
                  <table class="bordered centered">
                    <thead>
                    <tr>
                        <th>Table 7</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>
                      <img src="http://simpleicon.com/wp-content/uploads/table.png" height="177" width="126">
                    </td></tr>
                  </tbody>
                  </table>
                  </div>

                  <div class="col s3">
                    <table class="bordered centered">
                      <thead>
                      <tr>
                          <th>Table 8</th>
                      </tr>
                    </thead>
                      <tbody>
                        <tr><td>
                          <img src="http://simpleicon.com/wp-content/uploads/table.png" height="177" width="126">
                        </td></tr>
                      </tbody>
                    </table>
                  </div>

        <!-- ===== THIRD ROW ===== -->


  </div>

  </div>


  <!-- DO NOT TOUCH -->
  </div>
</div>
