<div class="row">
  <!-- ==== LEFT SIDE OF THE PAGE ==== -->
  <div class="col s6" id="left-side"> <!-- DO NOT TOUCH -->

<p><%= link_to 'Reservations', restaurant_reservations_path(current_user.restaurant_id) %> |
  <%= link_to 'Add Reservations', new_restaurant_reservation_path(current_user.restaurant_id) %> |
  <%= link_to 'Queue', restaurant_walkins_path(current_user.restaurant_id) %> |
  Takeaways</p>
<p><%= link_to 'Current Diners', restaurant_diners_path(current_user.restaurant_id) %> |
  <%= link_to 'Orders', restaurant_orders_path(current_user.restaurant_id) %></p>

  <!-- ======================== -->

  <h2>Reservation</h2>
    <table class="striped">
      <tbody>
        <% @reservations.where(status:'reservation').each do |reservation| %>
        <tr>
          <td href="/restaurants/<%= @restaurant_id %>/reservations/<%= @reservation_id %>/edit">
            <i class="material-icons left">
              edit
            </i>
            <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, reservation) %>
          </td>

          <td>
            <%= reservation.name %>
            <br>
            <%= formatPhone(reservation.phone) %>
          </td>

          <td>
            <i class="material-icons left">
              people
            </i>
            <%= reservation.party_size  %>
             pax
          </td>

          <td>
            <i class="material-icons left">
              access_time
            </i>
            <% if reservation.start_time %>
              <%= formatOrderDate(reservation.start_time) %>
            <% end %>
          </td>

          <td>
            <% if Invoice.where(reservation_id: reservation.id).where(time_end: nil).count > 0 %>
            <% x = Invoice.where(reservation_id: reservation.id).where(time_end: nil)[0] %>
            $<%= formatPrice(showTotalPrice(x.menu_items)) %>
            <% else %>
            No Order
            <% end %>
          </td>

          <td>
            T<%= reservation.table.name %>
          </td>
          <td>
            <%= link_to 'Confirm', restaurant_seated_path(@restaurant, reservation), method: :put %>
          </td>

        </tr>
        <% end %>
    </tbody>
  </table>

<!-- ================================= -->

  <h2>Queue</h2>
  <table class="striped">
        <tbody>
          <% @reservations.where(status:'queuing').each do |queuing| %>
          <tr>
            <td>
              <i class="material-icons left">
                edit
              </i>
              <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, queuing) %>
            </td>

            <td>
              #<%= queuing.queue_number %>
            </td>

            <td>
              <%= queuing.name %>
              <br>
              <%= formatPhone(queuing.phone) %>
            </td>

            <td>
              <i class="material-icons left">
                people
              </i>
              <%= queuing.party_size  %>
               pax
            </td>

            <td>
              <i class="material-icons left">
                access_time
              </i>
              <% if queuing.start_time %>
                <%= formatOrderDate(queuing.start_time) %>
              <% end %>
            </td>

            <td>
              <% if Invoice.where(reservation_id: queuing.id).where(time_end: nil).count > 0 %>
              <% x = Invoice.where(reservation_id: queuing.id).where(time_end: nil)[0] %>
              $<%= formatPrice(showTotalPrice(x.menu_items)) %>
              <% else %>
              No Order
              <% end %>
            </td>

            <td>
              <% if queuing.table %>
                T<%= queuing.table.name %>
              <% end %>
            </td>

            <td>
              <% if queuing.table %>
              <%= link_to 'Notify', restaurant_notify_path(@restaurant, queuing), method: :put%>
              <% elsif queuing.queue_number + 1 != queuing.restaurant.next_queue_number %>
              <%= link_to 'Requeue', restaurant_requeue_path(@restaurant, queuing), method: :put, data: { confirm: 'This will send the customer to the back of the queue. This action is undoable. OK to procced?'} %>
              <% end %>
            </td>

          </tr>
          <% end %>

        </tbody>
      </table>

<!-- ================================= -->

<h2>Notified</h2>
<table class="striped">
      <tbody>
        <% @reservations.where(status:'awaiting').each do |awaiting| %>
        <tr>
          <td>
            <i class="material-icons left">
              edit
            </i>
            <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, awaiting) %>
          </td>

          <td>
            #<%= awaiting.queue_number %>
          </td>

          <td>
            <%= awaiting.name %>
            <br>
            <%= formatPhone(awaiting.phone) %>
          </td>

          <td>
            <i class="material-icons left">
              people
            </i>
            <%= awaiting.party_size  %>
             pax
          </td>

          <td>
            <i class="material-icons left">
              access_time
            </i>
            <% if awaiting.start_time %>
              <%= formatOrderDate(awaiting.start_time) %>
            <% end %>
          </td>

          <td>
            <% if Invoice.where(reservation_id: awaiting.id).where(time_end: nil).count > 0 %>
            <% x = Invoice.where(reservation_id: awaiting.id).where(time_end: nil)[0] %>
            $<%= formatPrice(showTotalPrice(x.menu_items)) %>
            <% else %>
            No Order
            <% end %>
          </td>

          <td>
            <% if awaiting.table %>
              T<%= awaiting.table.name %>
            <% end %>
          </td>

          <td>
            <%= link_to 'Confirm', restaurant_seated_path(@restaurant, awaiting), method: :put %>
          </td>

        </tr>
        <% end %>

      </tbody>
    </table>

<!-- ================================= -->

<h2>Dining</h2>
<table class="striped">
      <tbody>
        <% @reservations.where(status:'dining').each do |dining| %>
        <tr>
          <td>
            <i class="material-icons left">
              edit
            </i>
            <%= link_to 'Edit', restaurant_edit_diner_path(@restaurant.id, dining) %>
          </td>

          <td>
            #<%= dining.queue_number %>
          </td>

          <td>
            <%= dining.name %>
            <br>
            <%= formatPhone(dining.phone) %>
          </td>

          <td>
            <i class="material-icons left">
              people
            </i>
            <%= dining.party_size  %>
             pax
          </td>

          <td>
            <i class="material-icons left">
              access_time
            </i>
            <% if dining.start_time %>
              <%= formatOrderDate(dining.start_time) %>
            <% end %>
          </td>

          <td>
            <% if Invoice.where(reservation_id: dining.id).where(time_end: nil).count > 0 %>
            <% x = Invoice.where(reservation_id: dining.id).where(time_end: nil)[0] %>
            $<%= formatPrice(showTotalPrice(x.menu_items)) %>
            <% else %>
            No Order
            <% end %>
          </td>

          <td>
            <% if dining.table %>
              T<%= dining.table.name %>
            <% end %>
          </td>

          <td>
            <%= link_to 'Check Out', restaurant_checked_out_path(@restaurant, dining), method: :put, data: { confirm: 'This will check the customer out and end their session. This action is undoable. OK to procced?'} %>
          </td>

        </tr>
        <% end %>

      </tbody>
    </table>

<!-- ================================= -->

      <!-- ==== END OF TABLES, BUTTONS HERE ==== -->

  </div> <!-- DO NOT TOUCH -->


  <!-- ==== RIGHT SIDE OF THE PAGE ==== -->

    <div class="col s7" id="right-side"> <!-- DO NOT TOUCH -->

  <!-- ============TABLE START============= -->

<div class="row">
  <% @tables.each do |table| %>
  <div class="col s3" id="right-tables">
    <table class="bordered centered">
      <thead>
      <tr>
          <th>Table <%= table.name %></th>
      </tr>
      </thead>
        <tbody>
          <% if @reservations.where(table_id: table.id).where(status: 'dining').count == 0%>
          <tr>
            <td>
              <img src="http://simpleicon.com/wp-content/uploads/table.png" height="127" width="126">
            </td>
          </tr>
          <tr>
            <td>
              <i class="material-icons left">
                access_time
              </i>
              <!-- <%= formatOrderDate(@reservations.where(table_id: table.id).where(status: ['reservation', 'awaiting'])[0].start_time) %> -->
            </td>
          </tr>
          <% else %>
          <tr>
            <td>
              <i class="material-icons left">
                people
              </i>
              <%= table.capacity_current%>pax
            </td>
          </tr>
          <tr>
            <td>
              <i class="material-icons left">
                access_time
              </i>
              <% if @reservations.where(table_id: table.id).where(status: 'dining').count > 0 %>
              <%= formatOrderDate(@reservations.where(table_id: table.id).where(status: 'dining')[0].start_time) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <i class="material-icons left">
                local_atm
              </i>
              <% if Invoice.where(table_id: table.id).where(time_end: nil).count > 0 %>
              <% x = Invoice.where(table_id: table.id).where(time_end: nil)[0] %>
              $<%= formatPrice(showTotalPrice(x.menu_items)) %>
              <% else %>
              No Order
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              New | Add | Pay
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% end %>
    </div>

        <!-- ===== THIRD ROW ===== -->


  </div>

  </div>


  <!-- DO NOT TOUCH -->
</div>
