<div class="container">
<h1>My Profile</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= resource[:email] %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, placeholder: 'Name (required)', required: true %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone, placeholder: 'Phone (required)', min:10000000, required: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", required: true %>
  </div>

  <div class="field">
    <%= f.label 'New password' %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: @minimum_password_length.to_s + ' characters minimum' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions waves-effect waves-light btn light-blue lighten-3">
    <%= f.submit "Update" %>
  </div>
<% end %>

<br/>
<% if current_user.restaurants.count > 0 %>
  <h2><i class="material-icons">restaurant_menu</i> My restaurants</h2>
  <table>
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Restaurant
        </th>
        <th>
          Primary
        </th>
        <th>
          Password
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <% current_user.restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.id %></td>
          <td><%= restaurant.name %></td>
          <td><%= current_user.restaurant_id == restaurant.id ? 'Primary' : '' %></td>
          <% if current_user.restaurant_id != restaurant.id %>
             <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }  do |f| %>
                <%= f.hidden_field :restaurant_id, value: restaurant.id %>
                 <td><%= f.password_field :current_password, autocomplete: "off", required: true %></td>
                 <td><%= f.submit "Make Primary" %></td>
             <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= link_to "Register a restaurant", new_restaurant_path, class: 'waves-effect waves-light btn indigo accent-1' %>
<% end %>
</div>
