<h1>Edit Invoice</h1>

<table class="striped centered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Total</th>
      <% if current_user.restaurants.include?(@restaurant) %>
      <th>User</th>
      <th>Table</th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @invoice.id %>
      </td>
      <%= form_for @invoice, url: restaurant_invoice_path(@restaurant, @invoice) do |f| %>
      <td>
        <%= formatPrice(showTotalPrice(@invoice.menu_items)) %>
      </td>
      <td>
        <% if @invoice.user_id %>
          <%= @invoice.user.name %>
        <% else %>
          <%= f.text_field :user_name, placeholder: "Name" %>
        <% end %>
      </td>
      <td>
        <%= f.select(:table_id, @table_options)%>
      </td>
      <td>
        <%= f.submit "Save" %>
      </td>
      <% end %>
    </tr>
  </tbody>
</table>

<p>
  <%= form_tag restaurant_menu_items_path(@restaurant), method: :get do %>
    <%= hidden_field_tag :invoice_id, @invoice.id %>
    <%= hidden_field_tag :reservation_id, @invoice.reservation_id %>
    <%= submit_tag 'Add orders' %>
  <% end %>
</p>

<table class="striped centered">
  <thead>
    <tr>
      <th>No.</th>
      <th>Item</th>
      <th>Price</th>
      <% if current_user.restaurants.include?(@restaurant) %>
        <th>Takeaway</th>
        <th>User Name</th>
      <% end %>
      <th>Request</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @index = 1 %>
    <% @invoice.orders.each do |order| %>
    <tr>
      <td>
        <%= @index %>
      </td>
      <td>
        <%= order.menu_item.name %>
      </td>
      <td>
        <%= formatPrice(order.menu_item.price) %>
      </td>
      <% if current_user.restaurants.include?(@restaurant) %>
      <td>
        <%= order.is_take_away %>
      </td>
      <td>
        <% if order.user %>
          <%= order.user.name %>
        <% else %>
          <%= '' %>
        <% end %>
      </td>
      <% end %>
      <td>
        <%= order.request_description %>
      </td>
      <td><%= link_to 'Remove', restaurant_invoice_order_path(@restaurant, @invoice, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% @index += 1 %>
  <% end %>
  </tbody>
</table>
