<h1>Edit Invoice</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %> <br/>
<%= link_to 'Back to Invoices', restaurant_invoice_path(@restaurant) %>
<br/>
<p>
  Invoice number:
  <%= @invoice.id %>
  <%= form_for @invoice, url: restaurant_invoice_path(@restaurant, @invoice) do |f| %>
  <p>
    <% if @invoice.user %>
      <%= f.label :user %>
      <%= @invoice.user.name %>
    <% else %>
      <%= f.label "Customer Name" %>
      <%= f.text_field :user_name, placeholder: "Name" %>
    <% end %>
  </p>
  <p>
    <%= f.label :table_id %>
    <%= f.number_field :table_id, placeholder: "Table" %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
  <% end %>

<p>
  Total:
  <%= formatPrice(showTotalPrice(@invoice.menu_items)) %>
</p>
<p>
  Ordered:
  <table>
    <thead>
      <tr>
        <th>
          No.
        </th>
        <th>
          Item
        </th>
        <th>
          Price
        </th>
        <th>
          Takeaway?
        </th>
        <th>
          User Name
        </th>
        <th>
          Request
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody>
      <% @index = 1 %>
      <% @invoice.orders.each do |order| %>
<tr>
  <td>
    <%= @index %>
  </td>
  <td>
    <%= order.menu_item.name %>
  </td>
  <td>
    <%= formatPrice(order.menu_item.price) %>
  </td>
  <td>
    <%= order.is_take_away %>
  </td>
  <td>
    <% if order.user %>
      <%= order.user.name %>
    <% else %>
      <%= '' %>
    <% end %>
  </td>
  <td>
    <%= order.request_description %>
  </td>
  <td>
<%= link_to 'Destroy', restaurant_invoice_order_path(@restaurant.id, @invoice, order), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
<% @index += 1 %>
<% end %>
    </tbody>
  </table>
</p>
