<div class="container">
<%= link_to 'New Invoice', restaurant_menu_items_path(@restaurant), class: 'waves-effect waves-light btn light-blue lighten-3' %>
</div>

<% if @invoices.select{|invoice| invoice.takeaway_time}.select{|invoice| !invoice.time_end}.count > 0 %>
  <div class="container">
  <h2>Takeaway Orders</h2>
  <table class="striped centered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Takeaway Time</th>
        <th>User</th>
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.select{|invoice| invoice.takeaway_time}.select{|invoice| !invoice.time_end}.sort{|first, second| first.created_at - second.created_at}.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= formatInvoiceDate(invoice.created_at) %></td>
        <td><%= invoice.user ? invoice.user.name : invoice.user_name %></td>
        <td><%= formatPrice(showTotalPrice(invoice.menu_items)) %></td>
        <% @table_id = invoice.table ? invoice.table.id : '' %>
        <td><%= link_to 'Show', restaurant_invoice_path(@restaurant, invoice) %></td>
        <td><%= link_to 'Edit', edit_restaurant_invoice_path(@restaurant, invoice) %></td>
        <td><%= link_to 'Destroy', restaurant_invoice_path(@restaurant, invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if allOrdersAreCompleted(invoice) %>
            <%= form_tag restaurant_invoice_path(@restaurant, invoice), method: :put do %>
              <%= hidden_field_tag :time_end %>
              <%= hidden_field_tag :complete, value: true %>
              <%= submit_tag 'Complete' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if allOrdersAreCompleted(invoice) %>
            <%= form_tag restaurant_invoice_path(@restaurant, invoice), method: :put do %>
            <%= hidden_field_tag :total_price, showTotalPrice(invoice.menu_items) %>
            <%= hidden_field_tag :invoice_id, invoice.id %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="<%= @restaurant.name %>"
            data-amount=""
            data-description='Order'
            data-locale="auto"
            data-currency="SGD"></script>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>

<div class="container">
<h2>Active Invoices</h2>
<table class="striped centered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date Created</th>
      <th>User</th>
      <th>Table</th>
      <th>Total</th>
      <th>Add</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.select{|invoice| !invoice.takeaway_time}.select{|invoice| !invoice.time_end}.sort{|first, second| first.created_at - second.created_at}.each do |invoice| %>
    <tr>
      <td><%= invoice.id %></td>
      <td><%= formatInvoiceDate(invoice.created_at) %></td>
      <td><%= invoice.user ? invoice.user.name : invoice.user_name %></td>
      <td><%= invoice.table ? invoice.table.name : '-' %></td>
      <td><%= formatPrice(showTotalPrice(invoice.menu_items)) %></td>
      <% @table_id = invoice.table ? invoice.table.id : '' %>
      <td><%= form_tag restaurant_menu_items_path(@restaurant), method: :get do %>
        <%= hidden_field_tag :invoice_id, invoice.id %>
        <%= hidden_field_tag :table_id, @table_id %>
        <%= submit_tag 'Add' %>
      <% end %></td>
      <td><%= link_to 'Show', restaurant_invoice_path(@restaurant, invoice) %></td>
      <td><%= link_to 'Edit', edit_restaurant_invoice_path(@restaurant, invoice) %></td>
      <td><%= link_to 'Destroy', restaurant_invoice_path(@restaurant, invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td>
        <% if allOrdersAreCompleted(invoice) %>
          <%= form_tag restaurant_invoice_path(@restaurant, invoice), method: :put do %>
            <%= hidden_field_tag :time_end %>
            <%= hidden_field_tag :complete, value: true %>
            <%= submit_tag 'Complete' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if allOrdersAreCompleted(invoice) %>
          <%= form_tag restaurant_invoice_path(@restaurant, invoice), method: :put do %>
          <%= hidden_field_tag :total_price, showTotalPrice(invoice.menu_items) %>
          <%= hidden_field_tag :invoice_id, invoice.id %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="<%= @restaurant.name %>"
          data-amount=""
          data-description='Order'
          data-locale="auto"
          data-currency="SGD"></script>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
<h2>Completed Invoices</h2>
<table class="striped centered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date Completed</th>
      <th>User</th>
      <th>Table</th>
      <th>Total</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.select{|invoice| invoice.time_end}.sort{|first, second| second.time_end - first.time_end}.each do |invoice| %>
    <tr>
      <td><%= invoice.id %></td>
      <td><%= formatInvoiceDate(invoice.time_end) %></td>
      <td><%= invoice.user ? invoice.user.name : invoice.user_name %></td>
      <td><%= invoice.table ? invoice.table.name : '-' %></td>
      <td><%= formatPrice(showTotalPrice(invoice.menu_items)) %></td>
      <td><%= link_to 'Show', restaurant_invoice_path(@restaurant, invoice) %></td>
      <td><%= link_to 'Edit', edit_restaurant_invoice_path(@restaurant, invoice) %></td>
      <td><%= link_to 'Destroy', restaurant_invoice_path(@restaurant, invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
