<h1>Show Invoice</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %> <br/>
<%= link_to 'Back to Invoices', restaurant_invoices_path(@restaurant.id) %>
<br/>
<p>
  Invoice number:
  <%= @invoice.id %>
</p>
<p>
  User:
  <%= @invoice.user_name %>
</p>
<p>
  Table:
  <%= @invoice.table.name if @invoice.table %>
</p>
<p>
  Total:
  <%= formatPrice(showTotalPrice(@invoice.menu_items)) %>
</p>
<p>
  Ordered:
  <table>
    <thead>
      <tr>
        <th>
          No.
        </th>
        <th>
          Item
        </th>
        <th>
          Price
        </th>
        <th>
          Takeaway?
        </th>
        <th>
          User Name
        </th>
        <th>
          Request
        </th>
      </tr>
    </thead>
    <tbody>
      <% @index = 1 %>
      <% @invoice.orders.each do |order| %>
<tr>
  <td>
    <%= @index %>
  </td>
  <td>
    <%= order.menu_item.name %>
  </td>
  <td>
    <%= formatPrice(order.menu_item.price) %>
  </td>
  <td>
    <%= order.is_take_away %>
  </td>
  <td>
    <%= order.user.name %>
  </td>
  <td>
    <%= order.request_description %>
  </td>
</tr>
<% @index += 1 %>
<% end %>
    </tbody>
  </table>
</p>
