<%= form_for menu_item, url: url do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name" %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price, placeholder: "Price" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "Description" %>
  </p>
  <p>
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients, placeholder: "Ingredients" %>
  </p>
  <p>
    <%= f.label :tags %>
    <%= f.text_field :tags, placeholder: "Tags" %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
