<h1>Edit Menu Item</h1>
<%= form_for @menu_item, url: restaurant_menu_item_path(@restaurant, @menu_item), html: {method: :put} do |f| %>
  <%= f.label "name" %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.label "price" %>
  <%= f.text_field :price, placeholder: "Price" %>
  <%= f.label "description" %>
  <%= f.text_field :description, placeholder: "Description" %>
  <%= f.label "ingredients" %>
  <%= f.text_field :ingredients, placeholder: "Ingredients" %>
  <%= f.label "tags" %>
  <%= f.text_field :tags, placeholder: "Tags" %>
  <%= f.submit "Update" %>
<% end %>
