<h1>Menu</h1>
<br/>
<%= link_to 'New Menu Item', new_restaurant_menu_item_path(@restaurant.id) %>
<br/>
<br/>


<button id="takeaway-show-hide" type="button" name="button">Order Takeaway</button>
<br/>
<br/>
<div class="all-menu-items">
<% @menu_items.each do |item| %>
<p>
  Name:
  <%= item.name %>
</p>
<p>
  Price:
  <%= formatPrice(item.price) %>
</p>
<p>
  Description:
  <%= item.description %>
</p>
<p>
  Ingredients:
  <%= item.ingredients %>
</p>
<p>
  Tags:
  <%= item.tags %>
</p>

<button class="add-to-order" style="display:none" type="button" name="button" value='<%= item.id.to_s + '/' + item.name + '/' + item.price.to_s %>'>Add to Order</button>

<%= link_to 'Show', restaurant_menu_item_path(@restaurant.id, item) %> |
<%= link_to 'Edit', edit_restaurant_menu_item_path(@restaurant.id, item) %> |
<%= link_to 'Destroy', restaurant_menu_item_path(@restaurant.id, item), method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<% end %>
</div>

<div class="ordered-items">
<ul class="ordered-items-list">
</ul>
</div>

<%= javascript_include_tag('menu_items/takeaway.js') %>
