<div class="container">
<h1><%= @menu_item.name %></h1>
<p>
  <% if @menu_item.picture  %>
    <%= cl_image_tag(@menu_item.picture, width: 200, height: 100, crop: :fill) %>
    <% else %>
    <img src="http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/quizzes/food_safety_quiz/650x350_food_safety_quiz.jpg" width=200 height=100>
  <% end %>
</p>
<p>
  <%= @menu_item.description %>
</p>
<p>
  <%= formatPrice(@menu_item.price) %>
</p>
<p>
  <%= @menu_item.ingredients %>
</p>
<p>
  <%= @menu_item.tags %>
</p>
</div>
