<h1>Showing Menu Item</h1>
<br>

<p>
  Name:
  <%= @menu_item.name %>
</p>
<p>
  Price:
  <%= formatPrice(@menu_item.price) %>
</p>
<p>
  Description:
  <%= @menu_item.description %>
</p>
<p>
  Ingedients:
  <%= @menu_item.ingredients %>
</p>
<p>
  Tags:
  <%= @menu_item.tags %>
</p>
