<h1>Show Menu Item</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<br/>
<%= link_to "Back to Menu", :back %>
<br/>
<p>
  <% if @menu_item.picture  %>
    <%= cl_image_tag(@menu_item.picture, width: 200, height: 100, crop: :fill) %>
  <% end %>
</p>
<p>
  Name:
  <%= @menu_item.name %>
</p>
<p>
  Price:
  <%= formatPrice(@menu_item.price) %>
</p>
<p>
  Description:
  <%= @menu_item.description %>
</p>
<p>
  Ingedients:
  <%= @menu_item.ingredients %>
</p>
<p>
  Tags:
  <%= @menu_item.tags %>
</p>
