<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!-- center portion -->
<div class="center">
      <input type="text" name="Search" value="" placeholder="Search">
      <input type="text" name="Location" value="" placeholder="Location">

    <a href="/restaurants">Search</a>
    <!-- <span class="nav-item icon">
    <i class="fa fa-search" aria-hidden="true"></i>
    </span> -->
</div>

<!-- ======= LAST TIME ONE ======= -->
  <div class="nav-center">
    <div class="field is-grouped">
      <p class="control">
        <input type="text" name="Search" value="" placeholder="Search">
      </p>
      <p class="control">
        <input type="text" name="Location" value="" placeholder="Location">
      </p>
      <p class="control">

      <a href="/restaurants">Search</a>
      <!-- <span class="nav-item icon">
      <i class="fa fa-search" aria-hidden="true"></i>
      </span> -->
      </p>
    </div>
  </div>

  <div class="nav-right nav-menu">
    <% if user_signed_in? %>
  <% if current_user[:restaurant_id]  %>
  <li class="nav-item is-tab">
    <%= link_to 'Dashboard', dashboard_path, :class => 'navbar-link' %>
  </li>
  <% end %>
  <li class="nav-item is-tab">
    <%= link_to 'Account', edit_user_registration_path, :class => 'navbar-link' %>
  </li>
  <li class="nav-item is-tab">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </li>
<% else %>
  <li class="nav-item is-tab">
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  </li>
  <li class="nav-item is-tab">
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </li>
<% end %>
  </div>

    <!--https://jsfiddle.net/crabbly/218o6g2g/-->
    <!--http://codepen.io/tdaved/pen/XdxJZZ-->

  </div>
</nav>
