<% if @user.reservations.select{ |reservation| reservation.status == 'queuing' }.count > 0 %>
  <div class="container">
    <h2>My Queues</h2>

    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Date</th>
          <th>Restaurant</th>
          <th>Party</th>
          <th>Orders</th>
          <th>Cancel</th>
        </tr>
      </thead>
      <tbody>
        <% @index = 1 %>
        <% Reservation.where(status: 'queuing').where(phone: @user.phone).sort{ |a, b| a.start_time <=> b.start_time }.each do |reservation| %>
        <tr>
          <td>
            <%= @index %>
          </td>
          <td>
            <% if reservation.start_time%>
              <%= formatDate(reservation.start_time.getlocal('+08:00')) %>
            <% end %>
          </td>
          <td>
            <% if reservation.restaurant_id %>
            <%= reservation.restaurant.name %>
            <% end %>
          </td>
          <td>
            <%= reservation.party_size %>
          </td>
          <td>
            <% x = Invoice.where(reservation_id: reservation.id).count > 0 ? Invoice.where(reservation_id: reservation.id)[0].id : nil  %>
            <% if x %>
            <%= link_to 'Edit', restaurant_invoice_path(reservation.restaurant.id, x) %>
            <% else %>
              <%= form_tag restaurant_menu_items_path(reservation.restaurant.id), method: :get do %>
              <%= hidden_field_tag :reservation_id, reservation.id %>
              <%= submit_tag 'Add' %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to 'X', restaurant_reservation_path(reservation.restaurant, reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% @index += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


<div class="container">
  <h2>My Reservations</h2>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Date</th>
      <th>Restaurant</th>
      <th>Party</th>
      <th>Order</th>
      <th>Cancel</th>
    </tr>
  </thead>
  <tbody>
    <% @index = 1 %>
    <% @user.reservations.select{ |reservation| reservation.status == 'reservation' }.sort{ |a, b| a.start_time <=> b.start_time }.each do |reservation| %>
    <tr>
      <td>
        <%= @index %>
      </td>
      <td>
        <%= formatDate(reservation.start_time) %>
      </td>
      <td>
        <%= reservation.restaurant.name %>
      </td>
      <td>
        <%= reservation.party_size %>
      </td>
      <td>
        <% x = Invoice.where(reservation_id: reservation.id).count > 0 ? Invoice.where(reservation_id: reservation.id)[0].id : nil  %>
        <% if x %>
        <%= link_to 'Edit', restaurant_invoice_path(reservation.restaurant.id, x) %>
        <% else %>
          <%= form_tag restaurant_menu_items_path(reservation.restaurant.id), method: :get do %>
          <%= hidden_field_tag :reservation_id, reservation.id %>
          <%= submit_tag 'Add' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'X', restaurant_reservation_path(reservation.restaurant, reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% @index += 1 %>
    <% end %>
  </tbody>
</table>
</div>
