<h1>Account</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.phone %></td>
      </tr>
  </tbody>
</table>

<% if @user.restaurant_id%>
<%= link_to 'Manage Restaurant', restaurant_path(@restaurant) %> |
<% else %>
<%= link_to 'Register Restaurant', new_restaurant_path %> |
<% end %>

<%= link_to 'Edit Account', edit_user_path(@user) %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
