<div class="container">
<h1>Edit Diner</h1>

<% if @diner.status == 'reservation' %>
  <%= link_to "Edit Reservation",edit_restaurant_reservation_path(@restaurant, @diner)%>
<% end %>

<%= form_for @diner, url: restaurant_diner_path(@restaurant, @diner), html: {method: :put} do |f| %>

  <div class="field">
    Name:
    <%= @diner.name %>
  </div>

  <div class="field">
    Phone:
    <%= @diner.phone %>
  </div>

  <div class="field">
    Email:
    <%= @diner.email %>
  </div>

  <div class="field">
    Queue Number:
    <%= @diner.queue_number %>
  </div>

  <% if @diner.status == 'queuing' %>
  <% if @diner.table %>
    <div class="field">
      <%= f.label :status, "Status" %>
      <%= f.select(:status, [['Cancelled','cancelled'],['Queuing','queuing'], ['Awaiting','awaiting']])%>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :status, "Status" %>
      <%= f.select(:status, [['Cancelled','cancelled'],['Queuing','queuing']])%>
    </div>
  <% end %>
  <% elsif @diner.status == 'reservation' %>
  <div class="field">
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Cancelled','cancelled'],['Reservation','reservation'], ['Dining','dining']])%>
  </div>
  <% elsif @diner.status == 'awaiting' %>
  <div class="field">
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Cancelled','cancelled'], ['Queuing','queuing'], ['Awaiting','awaiting'], ['Dining','dining']])%>
  </div>
  <% elsif @diner.status == 'dining' %>
  <div class="field">
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Awaiting','awaiting'], ['Dining','dining'], ['Checked Out','checked_out']])%>
  </div>
  <% end %>

  <% if @diner.status == 'reservation' %>
  <div class="field">
    Party Size:
    <%= @diner.party_size %>
  </div>
  <% else %>
  <div class="field">
    <%= f.label :party_size, "Number of Diners" %>
    <% if @restaurant.tables.count > 0 %>
      <%= f.select :party_size,[*1..@restaurant.tables.reject{|y| y[:capacity_total] == nil}.max_by{|x| x[:capacity_total]}.capacity_total]%>
    <% else %>
      <%= f.select :party_size,[0]%>
    <% end %>
  </div>
  <% end %>

  <% if @diner.status == 'reservation'%>
  <div class="field">
    Table:
    <% if @diner.table_id != nil %>
      <%= @diner.table.name %>
    <% end %>
  </div>
  <% else %>
    <%= f.label :table_id, "Table" %>
    <%= f.select(:table_id, @table_options)%>
  <% end %>


  <div class="field">
    <%= f.label :special_requests, "Special Requests" %>
    <%= f.text_field :special_requests, placeholder: "Special Requests"%>
  </div>

  <div class="field">
    Start Time:
    <%= @diner.start_time %>
  </div>

  <div class="field">
    End Time:
    <%= @diner.end_time %>
  </div>

  <%= f.submit "Submit", class: 'waves-effect waves-light btn light-blue lighten-3' %>
<% end %>
</div>
