<div class="container">
<h1>Edit Diner</h1>

<%= form_for @diner, url: restaurant_diner_path(@restaurant, @diner), html: {method: :put} do |f| %>
  <p>
    Name:
    <%= @diner.name %>
  </p>

  <p>
    Phone:
    <%= @diner.phone %>
  </p>

  <p>
    Email:
    <%= @diner.email %>
  </p>

  <p>
    Queue Number:
    <%= @diner.queue_number %>
  </p>

  <% if @diner.status == 'queuing' %>
  <% if @diner.table %>
    <p>
      <%= f.label :status, "Status" %>
      <%= f.select(:status, [['Cancelled','cancelled'],['Queuing','queuing'], ['Awaiting','awaiting']])%>
    </p>
  <% else %>
    <p>
      <%= f.label :status, "Status" %>
      <%= f.select(:status, [['Cancelled','cancelled'],['Queuing','queuing']])%>
    </p>
  <% end %>
  <% elsif @diner.status == 'reservation' %>
  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Cancelled','cancelled'],['Reservation','reservation'], ['Dining','dining']])%>
  </p>
  <% elsif @diner.status == 'awaiting' %>
  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Cancelled','cancelled'], ['Queuing','queuing'], ['Awaiting','awaiting'], ['Dining','dining']])%>
  </p>
  <% elsif @diner.status == 'dining' %>
  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Awaiting','awaiting'], ['Dining','dining'], ['Checked Out','checked_out']])%>
  </p>
  <% end %>

  <% if @diner.status == 'reservation' %>
  <p>
    Party Size:
    <%= @diner.party_size %>
  </p>
  <% else %>
  <p>
    <%= f.label :party_size, "Number of Diners" %>
    <% if @restaurant.tables.count > 0 %>
      <%= f.select :party_size,[*1..@restaurant.tables.reject{|y| y[:capacity_total] == nil}.max_by{|x| x[:capacity_total]}.capacity_total]%>
    <% else %>
      <%= f.select :party_size,[0]%>
    <% end %>
  </p>
  <% end %>

  <% if @diner.status == 'reservation'%>
  <p>
    Table:
    <%= @diner.table_id %>
  </p>
  <% else %>

    <%= f.label :table_id, "Table" %>
    <%= f.select(:table_id, @table_options)%>

  <% end %>


  <p>
    <%= f.label :special_requests, "Special Requests" %>
    <%= f.text_field :special_requests, placeholder: "Special Requests"%>
  </p>

  <p>
    Start Time:
    <%= @diner.start_time %>
  </p>

  <p>
    End Time:
    <%= @diner.end_time %>
  </p>

  <%= f.submit "Submit" %>
<% end %>
</div>
