<h1>Edit Diner</h1>

<%= form_for @diner, url: restaurant_diner_path(@restaurant, @diner), html: {method: :put} do |f| %>
  <p>
    Name:
    <%= @diner.name %>
  </p>

  <p>
    Phone:
    <%= @diner.phone %>
  </p>

  <p>
    Email:
    <%= @diner.email %>
  </p>

  <p>
    Queue Number:
    <%= @diner.queue_number %>
  </p>

  <% if @diner.status == 'awaiting' %>
  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Awaiting','awaiting'], ['Dining','dining'], ['Cancelled','cancelled']])%>
  </p>
  <% elsif @diner.status == 'dining' %>
  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Awaiting','awaiting'], ['Dining','dining'], ['Checked Out','checked_out']])%>
  </p>
  <% end %>

  <p>
    <%= f.label :party_size, "Number of Diners" %>
    <%= f.number_field :party_size, placeholder: "0", min: 1, max: 8 %>
  </p>

  <% if @diner.table_id %>
  <p>
    <%= f.label :status, "Table" %>
    <%= f.select(:table_id, @table_options)%>
  </p>
  <% end %>

  <p>
    <%= f.label :special_requests, "Special Requests" %>
    <%= f.text_field :special_requests, placeholder: "Special Requests"%>
  </p>

  <p>
    Start Time:
    <%= @diner.start_time %>
  </p>

  <p>
    End Time:
    <%= @diner.end_time %>
  </p>

  <%= f.submit "Submit" %>
<% end %>
