<div class="container">
<h1>Diners</h1>
<p>Current Time: <%= formatOrderDate(Time.now)%></p>

<h2>Notified</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Queue Number</th>
      <th>Table</th>
      <th>Requests</th>
      <th>Start Time</th>
      <th>Est End Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @diners.where(status:'awaiting').each do |diner| %>
    <tr>
      <td><%= link_to diner.name, restaurant_edit_diner_path(@restaurant.id, diner) %></td>
      <td><%= diner.phone %></td>
      <td><%= diner.email %></td>
      <td><%= diner.party_size %></td>
      <td>
        <% if diner.status == 'awaiting' %>
        <font color="red"><b><%= diner.status %></b></font>
        <% else %>
        <%= diner.status %>
        <% end %>
      </td>
      <td><%= diner.queue_number %></td>
      <td>
        <% if diner.table_id != nil %>
        <%= Table.find(diner.table_id).name %>
        <% end %>
      </td>
      <td><%= diner.special_requests %></td>
      <td>
        <% if diner.start_time != nil %>
        <%= formatOrderDate(diner.start_time.getlocal('+08:00')) %>
        <% end %>
      </td>
      <td>
        <% if diner.end_time %>
        <% if Time.now > diner.end_time %>
        <font color="red"><b><%= formatOrderDate(diner.end_time.getlocal('+08:00')) %></b></font>
        <% else %>
        <%= formatOrderDate(diner.end_time.getlocal('+08:00')) %>
        <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Seated', restaurant_seated_path(@restaurant, diner), method: :put %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Current</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Queue Number</th>
      <th>Table</th>
      <th>Requests</th>
      <th>Start Time</th>
      <th>Est End Time</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @diners.where(status:'dining').each do |diner| %>
    <tr>
      <!-- <td><%= link_to diner.name, restaurant_diner_path(@restaurant.id, diner) %></td> -->
      <td><%= link_to diner.name, restaurant_edit_diner_path(@restaurant.id, diner) %></td>
      <td><%= diner.phone %></td>
      <td><%= diner.email %></td>
      <td><%= diner.party_size %></td>
      <td>
        <% if diner.status == 'awaiting' %>
        <font color="red"><b><%= diner.status %></b></font>
        <% else %>
        <%= diner.status %>
        <% end %>
      </td>
      <td><%= diner.queue_number %></td>
      <td>
        <% if diner.table_id != nil %>
        <%= Table.find(diner.table_id).name %>
        <% end %>
      </td>
      <td><%= diner.special_requests %></td>
      <td>
        <% if diner.start_time != nil %>
        <%= formatOrderDate(diner.start_time.getlocal('+08:00')) %>
        <% end %>
      </td>
      <td>
        <% if diner.end_time %>
        <% if Time.now > diner.end_time %>
        <font color="red"><b><%= formatOrderDate(diner.end_time.getlocal('+08:00')) %></b></font>
        <% else %>
        <%= formatOrderDate(diner.end_time.getlocal('+08:00')) %>
        <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Check Out', restaurant_checked_out_path(@restaurant, diner), method: :put, data: { confirm: 'This will check the customer out and end their session. This action is undoable. OK to procced?'} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
