<div class="container">
<h1>Walk-in Diner</h1>
<p>
  Name:
  <%= @diner.name %>
</p>
<p>
  Phone:
  <%= @diner.phone %>
</p>
<p>
  Email:
  <%= @diner.email %>
</p>
<p>
  Quanity:
  <%= @diner.party_size %>
</p>
<p>
  Status:
  <%= @diner.status %>
</p>
<p>
  Queue Number:
  <%= @diner.queue_number %>
</p>
<p>
  Table:
  <%= @diner.table_id %>
</p>
<p>
  Special Requests:
  <%= @diner.special_requests %>
</p>
<p>
  Start Time:
  <%= @diner.start_time %>
</p>
<p>
  End Time:
  <%= @diner.end_time %>
</p>
</div>
