<div class="container">
<h2>Active Orders</h2>
<table class="striped centered">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Received</th>
      <th>Item</th>
      <th>Table</th>
      <th>Request</th>
      <th>Takeaway</th>
      <th>Complete</th>
    </tr>
  </thead>
  <tbody id="orders-for-<%=@restaurant.id%>">
    <% @orders.select{|order| correctStartTime(order) > (DateTime.now - 12.hours) && correctStartTime(order) < (DateTime.now + 12.hours) }.select{|order| !order.time_end}.sort{|first, second| correctStartTime(first).to_i - correctStartTime(second).to_i}.each do |order| %>
    <tr>
      <td>
        <%= link_to order.invoice.id, restaurant_invoice_path(@restaurant, order.invoice) %>
      </td>
      <td>
        <%= formatOrderDate(correctStartTime(order)) %>
      </td>
      <td>
        <%= order.menu_item.name %>
      </td>
      <td>
        <%= order.invoice.table.name if order.invoice.table%>
      </td>
      <td>
        <%= order.request_description %>
      </td>
      <td>
        <%= order.is_take_away ? 'Yes' : '' %>
      </td>
      <td>
        <% if !order.time_end %>
        <%= form_for order, url: restaurant_invoice_order_path(@restaurant.id, order.invoice, order), method: :put do |f| %>
          <%= f.submit 'Complete' %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
<h2>Completed Orders</h2>
<table class="striped centered">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Completed</th>
      <th>Item</th>
      <th>Table</th>
      <th>Request</th>
      <th>Takeaway?</th>
    </tr>
  </thead>
  <tbody id="orders-for-<%=@restaurant.id%>">
    <% @orders.select{|order| correctStartTime(order) > (DateTime.now - 12.hours) && correctStartTime(order) < (DateTime.now + 12.hours) }.select{|order| order.time_end}.sort{|first, second| correctStartTime(second).to_i - correctStartTime(first).to_i}.each do |order| %>
    <tr>
      <td>
        <%= link_to order.invoice.id, restaurant_invoice_path(@restaurant, order.invoice) %>
      </td>
      <td>
        <%= formatOrderDate(order.time_end) %>
      </td>
      <td>
        <%= order.menu_item.name %>
      </td>
      <td>
        <%= order.invoice.table.name if order.invoice.table%>
      </td>
      <td>
        <%= order.request_description %>
      </td>
      <td>
        <%= order.is_take_away ? 'Yes' : '' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
