<div class="container">
<h1>All Orders</h1>
<table>
  <thead>
    <tr>
      <th>
        Invoice
      </th>
      <th>
        Received
      </th>
      <th>
        Completed
      </th>
      <th>
        Item
      </th>
      <th>
        Table
      </th>
      <th>
        Request
      </th>
      <th>
        Takeaway?
      </th>
      <th>
        Complete
      </th>
    </tr>
  </thead>
  <tbody id="orders-for-<%=@restaurant.id%>">
    <% @orders.sort{|first, second| first.created_at - second.created_at}.each do |order| %>
    <tr>
      <td>
        <%= order.invoice.id %>
      </td>
      <td>
        <% if order.invoice.takeaway_time %>
        <%= formatOrderDate(order.invoice.takeaway_time) %>
        <% else %>
        <%= formatOrderDate(order.created_at) %>
        <% end %>
      </td>
      <td>
        <% if order.time_end %>
        <%= formatOrderDate(order.time_end) %>
        <% end %>
      </td>
      <td>
        <%= order.menu_item.name %>
      </td>
      <td>
        <%= order.invoice.table.name if order.invoice.table%>
      </td>
      <td>
        <%= order.request_description %>
      </td>
      <td>
        <%= order.is_take_away ? order.invoice.takeaway_time : '' %>
      </td>
      <td>
        <% if !order.time_end %>
        <%= form_for order, url: restaurant_invoice_order_path(@restaurant.id, order.invoice, order), method: :put do |f| %>
          <%= f.submit 'Complete' %>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
