<h1>Edit Reservation</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<%= form_for @reservation, url: restaurant_reservation_path(@restaurant, @reservation), html: {method: :put} do |f| %>

<% if !current_user or current_user.restaurants.include? @restaurant %>
  <p>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name, placeholder: @reservation.name, :required => true %>
  </p>

  <div>
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email, placeholder: @reservation.email, :required => true  %>
  </div>

  <p>
    <%= f.label :phone, 'Phone' %>
    <%= f.text_field :phone, placeholder: @reservation.phone %>
  </p>

  <% end %>

  <p>
    <%= f.label :party_size, 'Number of People' %>
    <%= f.text_field :party_size, placeholder: @reservation.party_size, min: 1, max: 8, :required => true %>
  </p>

  <p>
    <%= label :date, 'Date selected' %>
    <%= date_select :datetime, :date, default: @reservation.start_time, :required => true %>
  </p>

  <p>
    <%= label :time, 'Time selected' %>
    <%= time_select :datetime, :time, minute_step: 30, default: {hour: @hour, minute: @minute}%>
  </p>

  <!-- HIDE: ONLY FOR RESTAURANT -->

  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['On Reservation','reservation'], ['Dining','dining'], ['Cancelled','cancelled']])%>
  </p>

  <% if @reservation.table_id %>
  <p>
    <%= f.label :status, "Table" %>
    <%= f.select(:table_id, @table_options)%>
  </p>
  <% end %>
  <!--  -->

  <p>
    <%= f.label :special_requests, 'Special Requests' %>
    <%= f.text_field :special_requests, placeholder:@reservation.special_requests %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>
