<div class="row">

  <!-- SORT BUTTONS DIV -->
  <div class="col s2">
<center>
<h2>- Sort by -</h2>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants/<%= @restaurant_id %>/reservations?name=sort" style="width:145px">Name</a><br>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants/<%= @restaurant_id %>/reservations?pax=sort" style="width:145px; margin-top:5px">Party size</a><br>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants/<%= @restaurant_id %>/reservations?date=sort" style="width:145px; margin-top:5px">Date</a><br>
</center>
</div>
<!-- SORT BUTTONS DIV -->
<div class="col s8">
  <center><h1>All Reservations</h1></center>
<% @reservations.where(status: 'reservation').each do |reservation| %>

<% if current_user[:id] == reservation[:user_id] or current_user.restaurants.include? @restaurant %>
<div>
  <p>Name: <%= reservation.name %> </p>
  <p>Phone: <%= formatPhone(reservation.phone) %></p>
  <p>Pax: <%= reservation.party_size  %> </p>
  <p>Table: <%= Table.find(reservation.table_id).name  %> </p>
  <p>
    Date:
    <% if reservation.start_time%>
      <%= formatDate(reservation.start_time.getlocal('+08:00')) %>
      <!-- <%= reservation.start_time.getlocal('+08:00') %> -->
    <% end %>
  </p>
  <p>For:
    <% if reservation.start_time && reservation.end_time%>
      <%= number_with_precision((reservation.end_time - reservation.start_time) / 60, precision: 0) %>
    <% end %>
     minutes</p>
  <%= link_to 'View', restaurant_reservation_path(@restaurant.id, reservation) %> |
  <%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant.id, reservation) %> |
  <%= link_to 'Delete', restaurant_reservation_path(@restaurant.id, reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
  <br/>
  <br/>
</div>
<% end %>
</div><!-- div for reservation info display -->
</div><!-- div for main row -->
