<h1>All Reservations</h1><br>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>

<h1>Sort by:</h1>
<a class="button is-primary" href="/restaurants/<%= @restaurant_id %>/reservations?name=sort">Name</a>
<a class="button is-primary" href="/restaurants/<%= @restaurant_id %>/reservations?pax=sort">Party size</a>
<a class="button is-primary" href="/restaurants/<%= @restaurant_id %>/reservations?date=sort">Date</a>

<br><br>
<% @reservations.each do |reservation| %>

<div>
  <p>Name: <%= reservation.name %> </p>
  <p>Phone: <%= formatPhone(reservation.phone) %></p>
  <p>Pax: <%= reservation.party_size  %> </p>
  <p>Table: <%= Table.find(reservation.table_id).name  %> </p>
  <p>
    Date:
    <% if reservation.start_time%>
      <%= formatDate(reservation.start_time.getlocal('+08:00')) %>
      <!-- <%= reservation.start_time.getlocal('+08:00') %> -->
    <% end %>
  </p>
  <p>For:
    <% if reservation.start_time && reservation.end_time%>
      <%= number_with_precision((reservation.end_time - reservation.start_time) / 60, precision: 0) %>
    <% end %>
     minutes</p>
  <%= link_to 'View', restaurant_reservation_path(@restaurant.id, reservation) %> |
  <%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant.id, reservation) %> |
  <%= link_to 'Delete', restaurant_reservation_path(@restaurant.id, reservation), method: :delete, data: { confirm: 'Are you sure?' } %>

  <br/>
  <br/>
</div>
<% end %>
