<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>

<div>
  <p>Date: <%= formatDate(reservation.start_time) %> </p>
  <p>Party: <%= reservation.party_size  %> </p>
  <p>Name: <%= reservation.name %> </p>
  <p>Phone: <%= formatPhone(reservation.phone) %></p>
  <%= link_to 'Show', restaurant_reservation_path(@restaurant.id, reservation) %> |
  <%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant.id, reservation) %> |
  <%= link_to 'Destroy', restaurant_reservation_path(@restaurant.id, reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br/>
  <br/>
</div>
<% end %>
