<h1>Add a new reservation</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<%= form_for :reservation, :url => restaurant_reservations_path do |f|%>
  <!-- partials but idk how to make it partial yet-->
  <div>
  <%= f.label :name %>
  <%= f.text_field :name, value: current_user.name, :required => true %>
  </div>

  <div>
  <%= f.label :email %>
  <%= f.text_field :email, value: current_user.email %>
  </div>

  <div>
  <%= f.label :phone %>
  <%= f.text_field :phone, value: current_user.phone %>
  </div>

  <!-- partials -->

  <div>
  <%= f.label :party_size %>
  <%= f.select :party_size, [*1..12], :required => true %>
  </div>

  <div>
  <%= f.label :date %>
  <%= f.date_field :date, placeholder: 'YY/MM/DD'%>
  </div>

  <div>
  <%= f.label :time %>
  <!-- must make the timing unselectable if no seats available -->
  <%= f.select :time, ['11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30'], :prompt => 'Select One' %>
  </div>

  <div>
  <%= f.label :special_requests %>
  <%= f.text_field :special_requests %>
  </div>

  <%= f.submit %>
<% end %>
<!-- <p><%= flash[:alert] %></p> -->
