<h1>Reservations#show</h1>
<br>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<br />

<p>
  Name:
  <%= @reservation.name %>
</p>
<p>
  Phone:
  <%= formatPhone(@reservation.phone) %>
</p>
<p>
  Party Size:
  <%= @reservation.party_size %>
</p>
<p>
  Date:
  <%= formatDate(@reservation.start_time) %>
</p>
