<h1>Reservation ID:<%= @reservation.id %></h1>

<p>
  Name:
  <%= @reservation.name %>
</p>
<p>
  Phone:
  <%= formatPhone(@reservation.phone) %>
</p>
<p>
  Party Size:
  <%= @reservation.party_size %>
</p>
<p>
  Date:
  <%= formatDate(@reservation.start_time) %>
</p>
