<%= form_for table, url: url do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name" %>
</p>
<p>
  <%= f.label 'Current Capacity' %>
  <%= f.number_field :capacity_current, placeholder: "Current Capacity", min: 0 %>
</p>
<p>
  <%= f.label "Total Capacity" %>
  <%= f.number_field :capacity_total, placeholder: "Total Capacity", min:0 %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
<% end %>
