<h1>Edit Table</h1>
<%= form_for @table, url: restaurant_table_path(@restaurant, @table), html: {method: :put} do |f| %>
<%= f.label "name" %>
<%= f.text_field :name, placeholder: "Name" %>
<%= f.label "Total Capcity" %>
<%= f.number_field :capacity_total, placeholder: "Total Capacity", min:0 %>
<%= f.label "Current Capacity" %>
<%= f.number_field :capacity_current, placeholder: "Current Capacity", min: 0 %>
<%= f.submit "Update" %>
<% end %>
