<div class="container">
<h1>Tables</h1>
<%= link_to 'New Table', new_restaurant_table_path(@restaurant.id), class: 'waves-effect waves-light btn light-blue lighten-3' %>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Capacity</th>
      <th>Total Capacity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tables.each do |table| %>
    <tr>
      <td><%= table.name %></td>
      <td><%= table.capacity_current %></td>
      <td><%= table.capacity_total %></td>
      <td><%= link_to 'Show', restaurant_table_path(@restaurant.id, table) %></td>
      <td><%= link_to 'Edit', edit_restaurant_table_path(@restaurant.id, table) %></td>
      <td><%= link_to 'Destroy', restaurant_table_path(@restaurant.id, table), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
