<div class="container">
<h1>New Table</h1>
</br/>
<%= form_for @table, url: restaurant_tables_path do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name" %>
</div>
<div class="field">
  <%= f.label "Total Capacity" %>
  <%= f.number_field :capacity_total, placeholder: "Total Capacity", min: 0 %>
</div>
<p>
  <%= f.submit "Save", class: 'waves-effect waves-light btn light-blue lighten-3' %>
</p>
<% end %>
</div>
