<h1>Edit Restaurant</h1>
<%= link_to "Back to Restaurant", restaurant_path(@restaurant) %>
<%= render "/restaurants/form", restaurant: @restaurant %>
<p>
  Users:
  <% @restaurant.users.each do |user| %>
  <p>
    <%= user.email %>
  </p>
  <% end %>
</p>
<%= form_for @restaurant do |f| %>
  <p>
    <%= f.hidden_field :add, value: true %>
    Add employee by <%= f.label :email %>
    <%= f.email_field :email, value: nil, placeholder: 'employee@company.com' %>
  </p>
  <p>
      <%= f.submit "Add" %>
  </p>


<% end %>
