<div class="container">
<h1>Restaurant Profile</h1>
<%= render "/restaurants/form", restaurant: @restaurant %>
<br/>
<h2>Employees</h2>
<table>
  <thead>
    <tr>
      <th>
        No.
      </th>
      <th>
        Employee
      </th>
      <th>
        Email
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @index = 1 %>
    <% @restaurant.users.each do |user| %>
    <tr>
      <td>
        <%= @index %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= form_for @restaurant do |f| %>
          <%= f.hidden_field :remove, value: true %>
          <%= f.hidden_field :email, value: user.email %>
          <%= f.submit "Remove", class: 'waves-effect waves-light btn red darken-1', data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
    <% @index += 1 %>
    <% end %>
  </tbody>
</table>
<br/>
  <table>
    <thead>
      <tr>
        <th>Add employee by email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <%= form_for @restaurant, url:restaurant_path(@restaurant), method: :put do |f| %>
          <td>
            <%= f.hidden_field :add, value: true %>
            <%= f.email_field :email, placeholder: 'employee@company.com' %>
          </td>
          <td>
            <%= f.submit "Add", class: 'waves-light btn light-blue lighten-3' %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
