<div class="container">
<h1>Restaurant Profile</h1>
<%= render "/restaurants/form", restaurant: @restaurant %>
<br/>
<h2>Employees</h2>
<table>
  <thead>
    <tr>
      <th>
        No.
      </th>
      <th>
        Employee
      </th>
      <th>
        Email
      </th>
      <th>

      </th>
    </tr>
  </thead>
  <tbody>
    <% @index = 1 %>
    <% @restaurant.users.each do |user| %>
    <tr>
      <td>
        <%= @index %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= form_for @restaurant do |f| %>
          <%= f.hidden_field :remove, value: true %>
          <%= f.hidden_field :email, value: user.email %>
          <%= f.submit "Remove", class: 'waves-effect waves-light btn red darken-1' %>
        <% end %>
      </td>
    </tr>
    <% @index += 1 %>
    <% end %>
  </tbody>
</table>
<br/>
<h6>Add employee by email</h6>
<div class="field">
<%= form_for @restaurant do |f| %>
  <%= f.hidden_field :add, value: true %>
  <%= f.email_field :email, value: nil, placeholder: 'employee@company.com' %>
  <%= f.submit "Add", class: 'waves-effect waves-light btn light-blue lighten-3' %>
<% end %>
</div>
<br><br>
</div>
