<div class="row">

  <!-- SORT BUTTONS DIV -->
  <div class="col s2" style="margin-top:35px">
    <center>
<h2> Sort by </h2>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants?sort=name&search=<%= @search %>&city=<%= @city %>" style="width:150px">Name</a><br>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants?sort=cuisine&search=<%= @search %>&city=<%= @city %>" style="margin-top: 5px; width:150px">Cuisine</a><br>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants?sort=city&search=<%= @search %>&city=<%= @city %>" style="margin-top: 5px; width:150px">City</a>
</center>
  </div>
  <!-- SORT BUTTONS DIV -->

<div class="col s8" id="res-column">
<div class="row" id="restaurant-cards"> <!-- START OF CARD DISPLAY -->
  <!-- CARD START -->
  <% @restaurants.each do |restaurant, index| %>
  <div class="col s4">
    <div class="card sticky-action">
      <div class="card-image">
        <a href="/restaurants/<%= restaurant.id %>">
        <img src="http://www.ultimatebali.com/wp-content/uploads/2015/11/Best-Fine-Dining-Indonesian-Restaurants-Bali1.jpg"></a>
        <span class="card-title" id="restaurant-title"><%= link_to restaurant.name, restaurant_path(restaurant), class: 'white-text' %></span>
      </div>
      <div class="card-content">
        <p><i class="material-icons left">local_offer</i><%= restaurant.cuisine %></p><br>
        <% if !restaurant.phone.empty?%>
        <p><i class="material-icons left">phone</i><%= restaurant.phone %></p>
        <% end %><br>
        <p><i class="material-icons left">place</i><%= restaurant.address1 %>, <%= restaurant.address_city %></p>
      </div>
      <div class="card-action">
        <i class="material-icons left">person_add</i><%= link_to 'Book a table', new_restaurant_reservation_path(restaurant.id), class: 'blue-text' %>
        <%= link_to 'View Menu', restaurant_menu_items_path(restaurant.id), class: 'waves-effect waves-light btn light-blue lighten-3', style: 'margin-left:48px' %>
      </div>
    </div>
  </div>
  <% end %>
  <!-- CARD END -->

</div><!-- div for all restaurant cards -->
</div> <!-- div for restaurant card column -->
</div><!-- div for main row -->
<!-- VERY BOTTOM OF THE PAGE LEAVE THIS HERE -->
<center>
    <%= will_paginate @restaurants %>
</center>
