<h1>Restaurants#index</h1>

<% @restaurant.each do |restaurant| %>
<div>
<p>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <!-- <%= restaurant.name %> -->
</p>
<p>
  <%= restaurant.address1 %>  <%= restaurant.address_city %> <%= restaurant.address_country %>  <%= restaurant.address_postal %>
</p>
<p>
  <%= restaurant.website %>
</p>
<p>
  <%= restaurant.description %>
</p>
<p>
  <%= restaurant.cuisine %>
</p>
<p>
  <%= restaurant.rating %>
</p>
<br/>
</div>
<% end %>
