<center>
<h1>Restaurants</h1>

<!-- ===== SEARCH BAR ===== -->
    <form id="search-field">
      <div class="input-field">
        <input id="search" type="search" required placeholder="Search for a restaurant">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  <!-- end of search bar -->

<h2>- Sort by -</h2>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants?name=sort">Name</a>
<a class="waves-effect waves-light btn light-blue lighten-3" href="/restaurants?cuisine=sort">Cuisine</a>
</center>


<div class="row" id="restaurant-cards"> <!-- START OF CARD DISPLAY -->

  <!-- CARD START -->
  <% @restaurant.each do |restaurant, index| %>
  <div class="col s4">
    <div class="card sticky-action">
      <div class="card-image">
        <a href="/restaurants/<%= restaurant.id %>">
        <img src="http://www.ultimatebali.com/wp-content/uploads/2015/11/Best-Fine-Dining-Indonesian-Restaurants-Bali1.jpg"></a>
        <span class="card-title" id="restaurant-title"><%= link_to restaurant.name, restaurant_path(restaurant), class: 'white-text' %></span>
      </div>
      <div class="card-content">
        <p><i class="material-icons left">local_offer</i><%= restaurant.cuisine %></p><br>
        <p><i class="material-icons left">place</i><%= restaurant.address1 %>, <%= restaurant.address_country %></p><br>
      </div>
      <div class="card-action">
        <i class="material-icons left">person_add</i><%= link_to 'Book a table', new_restaurant_reservation_path(restaurant.id), class: 'valign-wrapper blue-text' %>
      </div>
    </div>
  </div>
  <% end %>
  <!-- CARD END -->

</div>
