<h1>Restaurants</h1>
<h1>Sort by:</h1>
<%= link_to 'Name', restaurant_namesort_path(@restaurants[0].restaurant_id), class: 'button is-primary' %>


<% @restaurant.each do |restaurant| %>
<p>
  Name:
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
</p>

<p>
  Address 1:
  <%= restaurant.address1 %>
</p>

<p>
  Address 2:
  <%= restaurant.address2 %>
</p>

<p>
  City:
  <%= restaurant.address_city %>
</p>

<p>
  State:
  <%= restaurant.address_state %>
</p>

<p>
  Country:
  <%= restaurant.address_country %>
</p>

<p>
  Post Code:
  <%= restaurant.address_postal %>
</p>

<p>
  Email:
  <%= restaurant.email %>
</p>

<p>
  Phone:
  <%= formatPhone(restaurant.phone) %>
</p>

<p>
  Website:
  <%= restaurant.website %>
</p>

<p>
  Description:
  <%= restaurant.description %>
</p>

<p>
  Cuisine:
  <%= restaurant.cuisine %>
</p>

<p>
  Picture:
  <%= restaurant.picture %>
</p>

<p>
  Rating:
  <%= restaurant.rating %>
</p>
<br>
<% end %>
