<h1>Register Restaurant</h1>
<%= form_for @restaurant, url: register_path do |f| %>
  <%= f.label "name" %>
  <%= f.text_field :name, placeholder: "Name" %>

  <%= f.label "address 1" %>
  <%= f.text_field :address1, placeholder: "Address 1" %>
  <%= f.label "address 2" %>
  <%= f.text_field :address2, placeholder: "Address 2" %>
  <%= f.label "city" %>
  <%= f.text_field :address_city, placeholder: "City" %>
  <%= f.label "state" %>
  <%= f.text_field :address_state, placeholder: "State" %>
  <%= f.label "country" %>
  <%= f.text_field :address_country, placeholder: "Country" %>
  <%= f.label "postal" %>
  <%= f.text_field :address_postal, placeholder: "Postal Code" %>
  <%= f.label "description" %>
  <%= f.text_field :description, placeholder: "Description" %>
  <%= f.label "cuisine" %>
  <%= f.text_field :cuisine, placeholder: "Cuisine" %>
  <%= f.label "email" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.label "password" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.label "password confirmation" %>
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
  <%= f.submit "Signup" %>
<% end %>
