<h1>My Restaurant</h1>

<p>
  Name:
  <%= @restaurant.name %>
</p>

<p>
  Address 1:
  <%= @restaurant.address1 %>
</p>

<p>
  Address 2:
  <%= @restaurant.address2 %>
</p>

<p>
  City:
  <%= @restaurant.address_city %>
</p>

<p>
  State:
  <%= @restaurant.address_state %>
</p>

<p>
  Country:
  <%= @restaurant.address_country %>
</p>

<p>
  Postal:
  <%= @restaurant.address_postal %>
</p>

<p>
  Email:
  <%= @restaurant.email %>
</p>

<p>
  Phone:
  <%= @restaurant.phone %>
</p>

<p>
  Website:
  <%= @restaurant.website %>
</p>

<p>
  Description:
  <%= @restaurant.description %>
</p>

<p>
  Cuisine:
  <%= @restaurant.cuisine %>
</p>

<p>
  Picture:
  <%= @restaurant.picture %>
</p>

<p>
  Rating:
  <%= @restaurant.rating %>
</p>

<%= link_to 'Edit', edit_user_path(@restaurant) %> |
<%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_path(@user) %>
