<div class="show-container">
  <!-- ====== PICTURE AND DESCRIPTION ===== -->
  <% if @restaurant.picture  %>
  <div class="row" id="res-whole">
    <div class="col s6" style="margin-left:25px" id="res-pic">
  <p>
  <%= cl_image_tag(@restaurant.picture, width: 900, height: 600, crop: :fill) %>
  </p>
</div>
<% else %>
<div class="container">
<% end %>


<!-- ==== WHOLE CHUNK OF RESTAURANT DESCRIPTION ====  -->
<div class="col s5" style="margin-right:20px;" id="res-description">

  <!-- ==== LEFT SIDE OF THE PAGE ==== -->

    <h1>
      <%= @restaurant.name %>
    </h1>
  <p id="description-box">
     All the food you eat, whether it’s a snack or a meal, should be very tasty and gratifying. If you choose delicious foods every time you eat, rather than trying to choke down foods you don’t like but you think are good for you, you’ll be much more satisfied.
  </p>

</div>
  <!-- ==== RIGHT SIDE OF THE PAGE ==== -->

<div class="col s3">
    <p>
      <i class="material-icons left">local_offer</i>
      <%= @restaurant.cuisine %>
    </p>

    <!-- <p>
      <i class="material-icons left">thumbs_up_down</i>
      <%= @restaurant.rating %>%
    </p> -->

<p>
  <i class="material-icons left">place</i>
  <%= @restaurant.address1 + ', ' + @restaurant.address2.to_s %><br>
  <%= @restaurant.address_city %><br>
  <span style="margin-left:40px"><%= @restaurant.address_country %> (<%= @restaurant.address_postal %>)<br></span>
</p>

<% if !@restaurant.email.empty? or !@restaurant.phone.empty? %>
<p>
<i class="material-icons left">perm_phone_msg</i>
  <a href="mailto:<%= @restaurant.email %>"><%= @restaurant.email %></a><br>
  <%= formatPhone(@restaurant.phone) %><br>
</p>
<% end %>

<% if !@restaurant.website.empty? %>
<p>
  <i class="material-icons left">personal_video</i>
  <a href="<%= @restaurant.website %>"><%= @restaurant.website %></a>
</p>
<% end %>

<p>
  Current Queue Ahead:
  <%= Reservation.where(restaurant_id: @restaurant.id).where(status: 'queueing').or(Reservation.where(restaurant_id: @restaurant.id).where(status: 'awaiting')).count %>
</p>


<!-- <% if current_user and current_user.restaurants.include? @restaurant %>
<h4>NEED TO PUT THIS SOMEWHERE ELSE</h4>
<p>
  Next Queue Number:
  <%= @restaurant.next_queue_number %>
</p>
<%= link_to 'Reset Queue Number', restaurant_reset_queue_path(@restaurant), method: :put, data: { confirm: 'This will reset the queue. OK to procced?'}%>
<% end %> -->
</div>
</div>
</div>
</div>

<!-- ==== WHOLE CHUNK OF RESTAURANT DESCRIPTION ====  -->

<!-- ==== ROW OF LINKS AT BOTTOM OF PAGE ==== -->
<div class="container">
    <%= link_to 'Make a Reservation', new_restaurant_reservation_path(@restaurant), class: 'waves-effect waves-light btn light-blue lighten-3', i_class: 'material-icons' %>
    <%= link_to 'Menu', restaurant_menu_items_path(@restaurant), class: 'waves-effect waves-light btn light-blue lighten-3' %>

    <br><br>

    <% if current_user and current_user.restaurants.include? @restaurant %>
    <%= link_to 'Current Queue', restaurant_walkins_path(@restaurant), class: 'waves-effect waves-light btn light-blue accent-4' %>
    <%= link_to 'Current Diners', restaurant_diners_path(@restaurant), class: 'waves-effect waves-light btn light-blue accent-4' %>
    <%= link_to 'View Reservations', restaurant_reservations_path(@restaurant), class: 'waves-effect waves-light btn light-blue accent-4' %>
    <%= link_to 'View Tables', restaurant_tables_path(@restaurant), class: 'waves-effect waves-light btn light-blue accent-4' %>
    <%= link_to 'Walk-in Queue', restaurant_new_public_path(@restaurant), class: 'waves-effect waves-light btn light-blue accent-4' %>
    <% end %>
    <br><br>
  </div>

  </div>
</div>
