<div class="container">
  <<img src=">
<h1>
  <%= @restaurant.name %>
</h1>

<p>
  <i class="material-icons left">place</i>
  <%= @restaurant.address1 + ', ' + @restaurant.address2.to_s %><br>
  <%= @restaurant.address_city %><br>
  <span style="margin-left:40px"><%= @restaurant.address_country %> (<%= @restaurant.address_postal %>)<br></span>
</p>

<p>
<i class="material-icons left">perm_phone_msg</i>
  <a href="mailto:<%= @restaurant.email %>"><%= @restaurant.email %></a><br>
  <%= formatPhone(@restaurant.phone) %><br>
</p>

<p>
  <i class="material-icons left">personal_video</i>
  <a href="<%= @restaurant.website %>"><%= @restaurant.website %></a>
</p>

<p>
  <i class="material-icons left">insert_comment</i>
  <%= @restaurant.description %>
</p>

<p>
  <i class="material-icons left">local_offer</i>
  <%= @restaurant.cuisine %>
</p>

<% if @restaurant.picture  %>
<p>
  Picture:
<%= cl_image_tag(@restaurant.picture, width: 200, height: 100, crop: :fill) %>
</p>
<% end %>

<p>
  <i class="material-icons left">thumbs_up_down</i>
  <%= @restaurant.rating %>%
</p>

<% if current_user and current_user.restaurants.include? @restaurant %>
<p>
  Next Queue Number:
  <%= @restaurant.next_queue_number %>
</p>
<!-- <%= link_to 'Reset Queue Number', dashboard_reset_queue_path, method: :put %> -->
<% end %>

<br>
<br>

<%= link_to 'Make a Reservation', new_restaurant_reservation_path(@restaurant) %>|
<%= link_to 'View Reservations', restaurant_reservations_path(@restaurant) %> |
<%= link_to 'Menu', restaurant_menu_items_path(@restaurant) %>

<br>

<% if current_user and current_user.restaurants.include? @restaurant %>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'View Tables', restaurant_tables_path(@restaurant) %> |
<%= link_to 'View Current Queue', restaurant_walkins_path(@restaurant) %> |
<%= link_to 'View Current Diners', restaurant_diners_path(@restaurant) %> |
<%= link_to 'View Invoices', restaurant_invoices_path(@restaurant) %> |
<%= link_to 'View Orders', restaurant_orders_path(@restaurant) %>

<br>

<%= link_to 'Public Walkin Link', restaurant_new_public_path(@restaurant) %>
<% end %>
</div>

<!-- <%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> -->
