<h1>Restaurant</h1>

<p>
  Name:
  <%= @restaurant.name %>
</p>

<p>
  Address:
  <%= @restaurant.address1 + ', ' + @restaurant.address2.to_s %>
</p>

<p>
  City:
  <%= @restaurant.address_city %>
</p>

<p>
  State:
  <%= @restaurant.address_state %>
</p>

<p>
  Country:
  <%= @restaurant.address_country %>
</p>

<p>
  Post Code:
  <%= @restaurant.address_postal %>
</p>

<p>
  Email:
  <a href="mailto:<%= @restaurant.email %>"><%= @restaurant.email %></a>
</p>

<p>
  Phone:
  <%= formatPhone(@restaurant.phone) %>
</p>

<p>
  Website:
  <a href="<%= @restaurant.website %>"><%= @restaurant.website %></a>
</p>

<p>
  Description:
  <%= @restaurant.description %>
</p>

<p>
  Cuisine:
  <%= @restaurant.cuisine %>
</p>

<p>
  Picture:
  <%= @restaurant.picture %>
</p>

<p>
  Rating:
  <%= @restaurant.rating %>
</p>

<p>
  Next Queue Number:
  <%= @restaurant.next_queue_number %>
</p>

<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'New Reservation', new_restaurant_reservation_path(@restaurant) %> |
<%= link_to 'View Reservations', restaurant_reservations_path(@restaurant) %> |
<%= link_to 'View Menu', restaurant_menu_items_path(@restaurant) %> |
<%= link_to 'View Tables', restaurant_tables_path(@restaurant) %> |
<%= link_to 'View Current Queue', restaurant_walkins_path(@restaurant) %> |
<%= link_to 'Public Walkin Mode', restaurant_new_public_path(@restaurant) %> |
<%= link_to 'View Current Diners', restaurant_diners_path(@restaurant) %> |
<%= link_to 'View Invoices', restaurant_invoices_path(@restaurant) %> |
<%= link_to 'View Orders', restaurant_orders_path(@restaurant) %>
<!-- <%= link_to 'Public Walkin Mode', restaurant_new_walkin_path(@restaurant) %> -->
<!-- <%= link_to 'Destroy', @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> -->
