<h1>Edit / Assign Walk-In Diner</h1>

<%= form_for @walkin, url: restaurant_walkin_path(@restaurant, @walkin), html: {method: :put} do |f| %>
  <p>
    Name:
    <%= @walkin.name %>
  </p>

  <p>
    Phone:
    <%= @walkin.phone %>
  </p>

  <p>
    Email:
    <%= @walkin.email %>
  </p>

  <p>
    <%= f.label :party_size, "Number of Diners" %>
    <%= f.select :party_size,[*1..@restaurant.tables.reject { |y| y[:capacity_total].empty? }.max_by{|x| x[:capacity_total]}.capacity_total], :required => true%>
  </p>

  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Queuing','queuing'], ['Dining','dining'], ['Cancelled','cancelled'], ['Checked Out','checked_out']])%>
  </p>

  <p>
    <%= f.label :special_requests, "Special Requests" %>
    <%= f.text_field :special_requests, placeholder: "Special Requests"%>
  </p>

  <p>
    Queue Number:
    <%= @walkin.queue_number %>
  </p>

  <p>
    Table:
    <%= @walkin.table_id %>
  </p>

  <p>
    Start Time:
    <%= @walkin.start_time %>
  </p>

  <p>
    End Time:
    <%= @walkin.end_time %>
  </p>

  <%= f.submit "Submit" %>
<% end %>
