<h1><%= @restaurant.name%></h1>
<h1>Walk-in Manual Mode</h1>

<%= form_for @walkin, url: restaurant_walkins_path(@restaurant), html: {method: :post} do |f| %>
  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Walk in Customer", value: "Walk in Customer" %>
  </p>

  <p>
    <%= f.label :phone, "Mobile" %>
    <%= f.text_field :phone, minlength: 8, maxlength: 8 %>
  </p>

  <p>
    <%= f.label :party_size, "Number of Diners" %>
    <%= f.select :party_size,[*1..@restaurant.tables.max_by{|x| x[:capacity_total]}.capacity_total], :required => true%>
  </p>

  <p>
    <%= f.label :status, "Status" %>
    <%= f.select(:status, [['Queuing','queuing'], ['Dining','dining'], ['Cancelled','cancelled']])%>
  </p>

  <p>
    Table:
    <%= @walkin.table_id %>
  </p>

  <p>
    <%= f.label :special_requests, "Special Requests" %>
    <%= f.text_field :special_requests, placeholder: "Special Requests"%>
  </p>

  <%= f.submit "Submit" %>
<% end %>
