<h1><%= @restaurant.name%></h1>
<h1>Add New Walk-in Customer</h1>

<%= form_for @walkin, url: restaurant_walkins_path(@restaurant), html: {method: :post} do |f| %>

  <p>
    Queue Number:
    <%= @restaurant.next_queue_number %>
  </p>

  <p>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, placeholder: "Customer " + @restaurant.next_queue_number.to_s , value: "Customer " + @restaurant.next_queue_number.to_s, :required => true %>
  </p>

  <p>
    <%= f.label :party_size, "Number of Diners" %>
    <% if @restaurant.tables.count > 0 %>
      <%= f.select :party_size,[*1..@restaurant.tables.reject{|y| y[:capacity_total] == nil}.max_by{|x| x[:capacity_total]}.capacity_total]%>
    <% else %>
      <%= f.select :party_size,[0]%>
    <% end %>
  </p>

  <%= f.submit "Submit" %>

<% end %>
