<h1>Walkin Diner</h1>
<p>
  Name:
  <%= @walkin.name %>
</p>
<p>
  Phone:
  <%= @walkin.phone %>
</p>
<p>
  Email:
  <%= @walkin.email %>
</p>
<p>
  Quanity:
  <%= @walkin.party_size %>
</p>
<p>
  Special Requests:
  <%= @walkin.special_requests %>
</p>
<p>
  Start Time:
  <%= @walkin.start_time %>
</p>
<p>
  Queueing?
  <%= @walkin.is_queuing %>
</p>
<p>
  End Time:
  <%= @walkin.end_time %>
</p>
