# for testing
PUBLISHABLE_KEY=pk_test_6pRNASCoBOKtIshFeQd4XMUh
SECRET_KEY=sk_test_BQokikJOvBiI2HlWgH4olfQ2 rails s

<% @hello.each { |x| %>
  <%= form_tag charges_path do %>
    <article>
      <label class="order">
        <span><%= x[0]%></span>
      </label>
      <label class="amount">
        <span>Amount: <%= x[1]%></span>
      </label>
    </article>
<input type="hidden" name="description" value='<%= x[0]%>'>
<input type="hidden" name="amount" value='<%= x[1]%>'>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description='<%= x[0]%>'
        data-amount='<%= x[1]%>'
        data-locale="auto"
        data-currency="SGD"></script>
<% end %>

    <% } %>
