<!DOCTYPE html>
<html>
  <head>
    <title>Locavorus</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body data-turbolinks="false">

    <header>
      <%= render partial: "partials/nav"%>
      <!-- <%= render partial: "partials/flash" %> -->
    </header>

    <main>
      <!-- Notices/alerts -->
      <% if notice %>
      <center>
      <p class="notice" id="flash-notice"><%= notice %></p>
      </center>
      <% end %>

    <% if alert %>
      <center>
      <p class="alert" id="flash-alert"><%= alert %></p>
    </center>
    <% end %>

      <%= yield %>
    </main>
    <footer class="page-footer light-blue">
              <div class="container">
                <div class="row" style="width:1800px">
                  <div class="col s9">
                    <h5 class="white-text">We didn't really need a footer</h5>
                    <p class="grey-text text-lighten-4" id="footer-text">But everyone has one so here it is!</p>
                  </div>
                  <div class="col s3">
                    <h5 class="white-text" style="margin-bottom:5px">Contact Us</h5>

                      <p class="white-text" id="footer-text">262 Pasir Panjang Road, S118628</p>
                      <p class="white-text">+65 8228 9101</p>
                      <p><a class="white-text" href="mailto:locavorus@gmail.com">locavorus@gmail.com</a></p>

                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <p style="margin-left:40px">© 2017 B.C. Copyright of Rex</p>
              </div>
            </footer>
  </body>

</html>
