<!DOCTYPE html>
<html>
  <head>
    <title>Locavorus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "style" %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  </head>

  <body>

    <header>
      <%= render partial: "partials/nav"%>
      <!-- <%= render partial: "partials/flash" %> -->
    </header>

    <main>
      <!-- <%= javascript_include_tag "index" %> -->


      <%= yield %>
    </main>

  </body>
</html>
