<!DOCTYPE html>
<html>
  <head>
    <title>Locavorus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1><%= @restaurant.name%> Walk-in Queue</h1>
    <p>Response Logged In</p>
    <p><%= @messages %></p>
    <%= link_to 'OK', restaurant_new_public_path(@restaurant) %>
  </body>
</html>
