<!DOCTYPE html>
<html>
  <head>
    <title>Locavorus</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1><%= @restaurant.name%> Walk-in Queue</h1>
    <%= form_for @walkin, url: restaurant_public_path(@restaurant), html: {method: :post} do |f| %>
      <p>
        <%= f.label :party_size, "Number of Diners" %>
        <% if @restaurant.tables.count > 0 %>
          <%= f.select :party_size,[*1..@restaurant.tables.reject{|y| y[:capacity_total] == nil}.max_by{|x| x[:capacity_total]}.capacity_total]%>
        <% else %>
          <%= f.select :party_size,[0]%>
        <% end %>
      </p>

      <p>
        <%= f.label :phone, "Mobile" %>
        <%= f.text_field :phone, minlength: 8, maxlength: 8,  :required => true%>
      </p>

      <%= f.submit "Submit" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
  </body>
</html>
