<!DOCTYPE html>
<html>
  <head>
    <title>Locavorus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    body {
      background: #fce4ec;
    }
    h1 {
      margin-top: 40px;
      font-family: "Unica One";
      font-size: 70px;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-size: 40px;
      font-family: "Contrail One";
      margin: 0;
    }
    p {
      font-family: "Nunito";
      text-align: center;
      font-size: 25px;
    }
    input {
      font-size: 25px;
      font-family: "Nunito";
      width: 250px;
    }
    select {
      font-size: 20px;
    }
    #ok-button {
      width: 200px;
      border-radius: 5px;
      background-color: #81d4fa;
      color: white;
    }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
  </head>
  <body>
    <h1><%= @restaurant.name%></h1>
    <h2>Walk-in Queue</h2>
    <p>Your queue entry has been recorded.</p>
    <center><%= link_to 'Return', restaurant_new_public_path(@restaurant) %></center>
    <p><%= @messages %></p>
  </body>
</html>
